* {
  padding: 0;
  margin: 0;
  font-family: arial;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#btn1 {
  background-color: #28a745;
}

#btn2 {
  background-color: #dc3545;
}
